.cabezeraTabla{
    background-color: orange;
}

.cuerpoTabla{
    background-color: gray;
}

.tabla{
    padding-top: 2rem;
    color: black;
    width: 100%;

    
}

.estrella{
    height: 100px;
}

.celda{
    display: flex;
    align-items: center;
    justify-content: center;
}


