.cabezeraTabla{
    background-color: orange;
    text-align: center;
    font-size: 2rem;
}

.cuerpoTabla{
    background-color: rgba(128, 163, 196, 0.22);
}

.tabla{
    padding-top: 2rem;
    color: white;
    width: 100%;

    font-size: 1.5rem;
}

.estrella{
    height: 100px;
}

.celda{
    display: flex;
    align-items: center;
    justify-content: center;
}


