.semestre{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.materia{
    display: block;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
} 

.aprobada{
    background-color: green;
}
.reprobada{
    background-color: red;
}

.noCursada{
    background-color: rgb(156, 156, 29);
}

.cursando{
    background-color: purple;
}

.division{
    background-color: white;
}


.colores{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.color{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.aprobadaCuadro{
    height: 20px;
    width: 20px;
    background-color: green;
}

.reprobadaCuadro{
    height: 20px;
    width: 20px;
    background-color: red;

}

.noCursadaCuadro{
    height: 20px;
    width: 20px;
    background-color: rgb(156, 156, 29);;

}

.cursandoCuadro{
    height: 20px;
    width: 20px;
    background-color: purple;

}