.semestre{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.materia{
    display: block;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
} 

.aprobada{
    background-color: green;
}
.reprobada{
    background-color: red;
}

.noCursada{
    background-color: rgb(176, 176, 3);
}

.cursando{
    background-color: aquamarine;
}

.division{
    background-color: white;
}