table{
    border: 1px solid #000000;
    background-color: #ce5151;
    margin-top: 4rem;
    width: 75%;
    height: 12rem;
    text-align: center;
    font-size: 2rem;
}

td{
    border: 1px solid rgb(44, 41, 41);
    background-color: #b6b6b6;
    color: black;
}

thead{
    color: black;
}